.home-menu-container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-menu-wrapper {
    width: min(var(--max-content-width), 90%);
}
.home-menu-heading {
    font-size: 3em;
    color: #8a6434;
    font-family: 'Pacifico', cursive;
    animation: bounceIn 1s ease-in-out forwards;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
    }
}

.heading-underline {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #8a6434;
    bottom: -10px;
    left: 0;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 100%;
        left: 0;
    }
}