
.category-menu-container {

}

.category-menu-grid {
    display: grid;
    --notify-list-size: calc(1 * var(--rotiboti-min-width));
    grid-template-columns: repeat(auto-fill, minmax(var(--notify-list-size), 1fr));
}