.product-menu-container {
    display: flex;
    flex-direction: column;

    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px bisque;
    cursor: pointer;
}

.product-menu-container:hover img {
    transform: scale(1.2);
}

.product-menu-container img {
    font-weight: 500;
    margin: 30px;
    transition: transform 0.3s ease;
}

.product-menu-container p {
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}


.product-new-banner {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    background-color: var(--rotiboti-primary-color);
}