.home-navbar-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    border-bottom: 1px solid var(--rotiboti-primary-color);
    border-top: 1px solid var(--rotiboti-primary-color);
}

.laval-navbar-wrapper {
    width: min(var(--max-content-width), 90%);
}