.laval-menu-container {
    display: flex;
    flex-direction: row;
}

.laval-category-titles {
    padding-right: 20px;
}

.laval-category-sections {
    flex: 1;
}

@media (max-width: 980px) {
    .sidebar {
        display: none;
    }
}
